<?php
$VendorPath=__DIR__.'/vendor';
if(!is_dir($VendorPath)){
    $VendorPath=__DIR__.'/../../../../../vendor';
}
set_include_path(get_include_path() . PATH_SEPARATOR . "$VendorPath/phing/phing/classes");
$Loader=include "$VendorPath/autoload.php";
$Loader->add('RickySu\\CacheableBehaviorBundle', __DIR__.'/../../');
return $Loader;